<!-- body section -->
<section class="about-container">

<div class="bodyhed">
    <h2>Mahatma Gandhi Sarvodaya Sangh, Uruli Kanchan</h2>
    <p>(Established: 18/11/1952)</p>
    <p>Founder: Padmashri Dr. Manibhai Desai</p>
</div>

<div class="container">
    <div class="data-section info-box branch-box">
        <h2 class="section-title branch-title">Branch Expansion</h2>
        <h3 class="campus-name">Padmavibhushan Sharadchandraji Pawar Educational Complex, Uruli Kanchan</h3>
        
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name of Institution</th>
                    <th>Established</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1)</td>
                    <td>Mahatma Gandhi Vidyalaya, Uruli Kanchan</td>
                    <td>1962</td>
                </tr>
                <tr>
                    <td>2)</td>
                    <td>Boys Hostel (Residential Facility), Uruli Kanchan</td>
                    <td>1966</td>
                </tr>
                <tr>
                    <td>3)</td>
                    <td>Mahatma Gandhi Junior College, Uruli Kanchan</td>
                    <td>1976</td>
                </tr>
                <tr>
                    <td>4)</td>
                    <td>Skill-Based Vocational Courses, Uruli Kanchan</td>
                    <td>1990</td>
                </tr>
                <tr>
                    <td>5)</td>
                    <td>B.G. Shirke Pre-Primary & Mahatma Gandhi Primary School, Uruli Kanchan</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>6)</td>
                    <td>Padmashri Manibhai Desai College, Uruli Kanchan</td>
                    <td>2002</td>
                </tr>
                <tr>
                    <td>7)</td>
                    <td>Dr. Cyrus Poonawalla English Medium School, Uruli Kanchan (CBSE)</td>
                    <td>2010</td>
                </tr>
            </tbody>
        </table>
    </div>
</div><br><br>

<!-- Gallery -->
<div class="about-box">
<section class="gallery">

  <div class="gallery-item">
    <a href="https://maps.app.goo.gl/MkSLNNLobaNkFfm68">
        <img src="assets/mahatmagandhividyalay.png" alt="Mahatma Gandhi Vidyalaya" title="Click to see location">
    </a> 
  </div>

  <div class="gallery-item">
    <a href="https://maps.app.goo.gl/fXxbBx6asipTa8dAA">
        <img src="assets/manibhaidesaividyalay.png" alt="Manibhai Desai College" title="Click to see location">
    </a>
  </div>

  <div class="gallery-item">
    <a href="https://maps.app.goo.gl/sJQXJM4Awqdcj19L8">
        <img src="assets/englishmedium.png" alt="English Medium School" title="Click to see location">
    </a>
  </div>

  <div class="gallery-item">
    <a href="https://maps.app.goo.gl/WvkoWFFJxq1m34gZ7">
        <img src="assets/mahatmagandhividyalay2.png" alt="Mahatma Gandhi School" title="Click to see location">
    </a>
  </div>

</section>
</div>

</section>

<app-footer></app-footer>
