
  <!-- Footer -->
 <footer class="college-footer">
        <div class="footer-grid-container">

            <div class="footer-column footer-info">
                <h3 class="footer-logo">Padmashri Manibhai Desai Mahavidyalaya</h3>
                <p class="affiliation">Affiliated with Savitribai Phule Pune University</p>
                
               
            </div>

            <div class="footer-column footer-links">
                <h4>Academics</h4>
                <ul>
                    <li><a href="https://www.unipune.ac.in/">Savitribai phule pune University</a></li>
                    <li><a href="https://dhepune.gov.in/">Directer of higher education</a></li>
                    <li><a href="https://www.mahahsscboard.in">Maharashtra state board pune</a></li>
                      <li><a href="http://naac.gov.in/index.php/en/">NAAC</a></li>
                    <li><a href="https://www.ugc.gov.in/">University grants commission</a></li>
                </ul>
            </div>

           

            <div class="footer-column footer-contact">
                <h4>Contact Details</h4>
                <p><i class="fas fa-map-marker-alt"></i> Uruli Kanchan, Tal. Haveli, Dist. Pune 412202</p>
                <p><i class="fas fa-phone"></i> +91 9172635673</p>
                <p><i class="fas fa-globe"></i> <a href="http://www.pmdcollege.in">www.pmdcollege.in</a></p>
            </div>

        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 महात्मा गांधी सर्वोदय संघ | Padmashri Manibhai Desai Mahavidyalaya. All Rights Reserved. | Devloped By <a href="https://www.linkedin.com/in/rutik-kale-761bb4304/" target="_blank" rel="noopener noreferrer">Rutik Kale</a>
            </p>
        </div>
    </footer>




