
  <!-- tables start -->
   <section class="bcom-courses">
  <h2 style="margin-top: 100px;">COMMERCE FACULTY: UG COURSES — B.Com</h2>

  <h3>F.Y. B.Com. Course Structure (2024 Pattern) (NEP)</h3>

  <table class="course-table">
    <thead>
      <tr>
        <th colspan="3">Semester I (2024 Pattern) (NEP)</th>
        <th colspan="3">Semester II (2024 Pattern) (NEP)</th>
      </tr>
      <tr>
        <th>Code</th>
        <th>Subject Name</th>
        <th>Type</th>
        <th>Code</th>
        <th>Subject Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FAC101T</td>
        <td>Financial Accounting - I</td>
        <td>Major</td>
        <td>FAC121T</td>
        <td>Financial Accounting - II</td>
        <td>Major</td>
      </tr>
      <tr>
        <td>CMA102T</td>
        <td>Basics of Cost and Management Accounting and Material Accounting - I</td>
        <td>Major</td>
        <td>IL0122T</td>
        <td>Inventory, Labour and Overhead Accounting - II</td>
        <td>Major</td>
      </tr>
      <tr>
        <td>FOB106T</td>
        <td>Fundamentals of Banking</td>
        <td>Major</td>
        <td>FI126T</td>
        <td>Fundamentals of Insurance - II</td>
        <td>Major</td>
      </tr>
      <tr>
        <td>IBE109T</td>
        <td>Introduction to Behavioural Economics</td>
        <td>Major</td>
        <td>MSE129T</td>
        <td>Market Structure and Welfare Economics - II</td>
        <td>Major</td>
      </tr>
      <tr>
        <td>SEC111COM</td>
        <td>Business Accounting - I</td>
        <td>SEC</td>
        <td>SEC121COM</td>
        <td>Business Accounting - II</td>
        <td>SEC</td>
      </tr>
      <tr>
        <td>AEC-101</td>
        <td>English: Mastering English for Professional Purposes</td>
        <td>AEC</td>
        <td>AEC-121</td>
        <td>English - II</td>
        <td>AEC</td>
      </tr>
      <tr>
        <td>OE-H-101MAR</td>
        <td>Vyaktimatva Vikas ani Bhasha</td>
        <td>OE</td>
        <td>OE-H-151MAR</td>
        <td>Vyavaharik Marathi</td>
        <td>OE</td>
      </tr>
      <tr>
        <td>IKS</td>
        <td>Indian Knowledge System (Generic)</td>
        <td>IKS</td>
        <td>CC121YE</td>
        <td>Yoga Education</td>
        <td>CC</td>
      </tr>
      <tr>
        <td>VEC-101-T</td>
        <td>Environment Education - I</td>
        <td>VEC</td>
        <td>VEC-121</td>
        <td>Constitutional Values, Fundamental Duties and Political System in India</td>
        <td>VEC</td>
      </tr>
    </tbody>
  </table>

  <h3>F.Y. B.Com. Course Structure (2024 Pattern) (NEP)</h3>
  <table class="course-table">
    <thead>
      <tr>
        <th>Semester III (2024 Pattern)</th>
        <th>Semester IV (2024 Pattern)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2" style="text-align:center;">Subjects to be declared as per NEP syllabus 2024 for SYBCom.</td>
      </tr>
    </tbody>
  </table>

  <h3>T.Y. B.Com. Course Structure (2019 Pattern)</h3>

  <table class="course-table">
    <thead>
      <tr>
        <th colspan="3">Semester V (2019 Pattern)</th>
        <th colspan="3">Semester VI (2019 Pattern)</th>
      </tr>
      <tr>
        <th>Code</th>
        <th>Subject Name</th>
        <th>Type</th>
        <th>Code</th>
        <th>Subject Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>351</td>
        <td>Business Regulatory & Frame Work</td>
        <td>Compulsory</td>
        <td>361</td>
        <td>Business Regulatory & Frame Work</td>
        <td>Compulsory</td>
      </tr>
      <tr>
        <td>352</td>
        <td>Advanced Accounting</td>
        <td>Compulsory</td>
        <td>362</td>
        <td>Advanced Accounting</td>
        <td>Compulsory</td>
      </tr>
      <tr>
        <td>354</td>
        <td>Indian & Global Economics Development</td>
        <td>Compulsory</td>
        <td>363A</td>
        <td>Indian & Global Economics Development</td>
        <td>Compulsory</td>
      </tr>
      <tr>
        <td>355B</td>
        <td>Cost & Works Accounting - I OR Banking & Finance - I</td>
        <td>Elective</td>
        <td>365B</td>
        <td>Cost & Works Accounting - II OR Banking & Finance - II</td>
        <td>Elective</td>
      </tr>
      <tr>
        <td>356B</td>
        <td>Cost & Works Accounting - III OR Banking & Finance - III</td>
        <td>Elective</td>
        <td>366B</td>
        <td>Cost & Works Accounting - III OR Banking & Finance - III</td>
        <td>Elective</td>
      </tr>
    </tbody>
  </table>
</section>


<!--staff -->
<div class="body">
   <h1> Staff Details</h1>

  <div class="staff-container">
    <div class="staff-box">
      <img style="height: 300px;"  src="../../assets/b.com/sujata.png" alt="Dr. Ramesh Patil">
      <h3>Miss. Sujata Jaywant Gaikwad</h3>
      <p> Head of the Department Assistant Professor</p>
      <p>Qualification: M.Com. MBA.SET. Ph.D. Pursuing</p>
      <p>22 Years Experience</p>
      <p>Specialization : Cost & works Accounting </p>
    </div>

    <div class="staff-box">
      <img  style="height: 300px;"   src="../../assets/b.com/dnyandeo.png" alt="Ms. Sneha Kulkarni">
      <h3>Mr.Dnyandeo Rangnath Pinjari </h3>
      <p>Assistant Professor</p>
      <p>Qualification:M.Com, NET. Ph.D. Pursuing</p>
      <p> 10 Years Experience</p>
      <p>Specialization: Advance Accounting & Taxation </p>
    </div>

    <div class="staff-box">
      <img  style="height: 300px;" src="../../assets/b.com/kamrrunisa.png" alt="Mr. Suresh Jadhav">
      <h3> Mrs.Dr.Kamrrunissa AbdulHamid Shaikh </h3>
      <p>Assistant Professor</p>
      <p>Qualification: M.Com , M. Phil,Ph.D.</p>
      <p> 7 Years Experience</p>
      <p>Specialization : Business Administration 4 years </p>
    </div>

    <div class="staff-box">
      <img  style="height: 300px;" src="../../assets/b.com/ravindra.png" alt="Mr. Suresh Jadhav">
      <h3>Mr. Ravindra Dattu Mundhe </h3>
      <p> Assistant Professor</p>
      <p>Qualification: M.Com. SET,NET Ph.D. Pursuing</p>
      <p>6 Years Experience </p>
      <p>Specialization :Corporate Accounting and Financial Management</p>
    </div>

     <div class="staff-box">
      <img  style="height: 300px;" src="../../assets/b.com/anupreta.png" alt="Mr. Suresh Jadhav">
      <h3>Mrs.Anupreeta Prasad Bhor </h3>
      <p> Assistant Professor</p>
      <p>Qualification:M.Com. B.Ed. Ph.D. Pursuing</p>
      <p>Specialization : Advance Accounting and Taxation</p>
        <p>6 Years Experience</p>
      </div>
    </div>
  </div>


<!-- department description -->
     <div class="about-box">
    <h2>Department Description :</h2>
    <p>
    Department of Commerce was established in the year 2002. It is a significant
academic department in the college. The Department has offers UG, PG programmes . The
objective of these programmes are to cultivate business acumen among students and aims
to develop various skills, to make students capable to be an effective part of the
Commercial Organisation in various area. Our department offered some of the popular
electives courses like – Banking and Finance, Cost and Works Accounting, etc. UG and PG
Programmes are designed to impart business and management skills to aspiring students
for a better understanding of the corporate world and its business activities. It would help
students plan their business activity properly in various capacities. The department also
conducting Certificate Courses, Add-On Courses, Skill Based Courses to develop various
skills among the students. Department organized various student centric activities to
enhance their personality, employability skills and develop leadership qualities for the
students.

    </p>
  </div>

  <table class="college-programs">
    <tr>
        <th>Programme</th>
        <th>Year of Establishment</th>
    </tr>
    <tr>
        <td>Bachelor of Commerce (UG)</td>
        <td>June - 2002</td>
    </tr>
    <tr>
        <td>Master of Commerce (PG)</td>
        <td>June - 2022</td>
    </tr>
  </table>


    <div class="about-box facilities">
    <h2>Facilities :</h2>
    <p>
   <li>Excellent Classroom</li>
   <li>Learning Centre</li>
   <li>Seminar Halls </li>
   <li>Computer Labs</li>
   <li>Libraries</li>
    </p>
  </div>
  <!-- department description end-->

  <!-- Courses Run by the Department -->
   <h2 style="color: rgb(28, 57, 116); text-align: center;">Courses Run by the Department</h2>
   <table class="college-programs">
    <tr>
      <th>Level </th>
      <th>Programme /Course</th>
      <th>Elective Subject </th>
      <th>Tenure</th>
      <th>Pattern</th>
      <th>Total Credit</th>
    </tr>
    <tr>
      <td>Under Graduate</td>
      <td>Bachelor of Commerce</td>
      <td>
        <ul>
          <li>Banking and Finance</li>
          <li>Cost and Works Accounting</li>
        </ul>
      </td>
      <td>3 Years</td>
      <td>Semester – CBCS (2019) </td>
      <td>140</td>
    </tr>
    <tr>
      <td>Post - Graduate</td>
      <td>Master of Commerce</td>
      <td>
        <ul>
          <li>Advanced Cost & Works Accounting</li>
          <li>Advanced Banking and Finance</li>
        </ul>
      </td>
      <td>2 Years (After 3 Years Degree) 1 Year (After 4 Years Degree)</td>
      <td>NATIONAL EDUCATION POLICY2020</td>
      <td>80-88 / 40-44</td>
    </tr>
    <tr>
      <td>Add On</td>
      <td>UG / PG</td>
      <td>
        <ul>
          <li>Cyber security,</li>
          <li>Human Rights</li>
        </ul>
      </td>
      <td>Cyber Security, Introduction to Constitution of M.Com</td>
      <td>-</td>
      <td>1 or 2</td>
    </tr>
   </table>

<app-footer></app-footer>