






<!--staff -->
<div class="body">
   <h1> Staff Details</h1>

  <div class="staff-container">
    <div class="staff-box">
      <img style="height: 300px;"  src="../../assets/b.com/sujata.png" alt="Dr. Ramesh Patil">
      <h3>Miss. Sujata Jaywant Gaikwad</h3>
      <p> Head of the Department Assistant Professor</p>
      <p>Qualification: M.Com. MBA.SET. Ph.D. Pursuing</p>
      <p>22 Years Experience</p>
      <p>Specialization : Cost & works Accounting </p>
    </div>

    <div class="staff-box">
      <img  style="height: 300px;"   src="../../assets/b.com/dnyandeo.png" alt="Ms. Sneha Kulkarni">
      <h3>Mr.Dnyandeo Rangnath Pinjari </h3>
      <p>Assistant Professor</p>
      <p>Qualification:M.Com, NET. Ph.D. Pursuing</p>
      <p> 10 Years Experience</p>
      <p>Specialization: Advance Accounting & Taxation </p>
    </div>

    <div class="staff-box">
      <img  style="height: 300px;" src="../../assets/b.com/kamrrunisa.png" alt="Mr. Suresh Jadhav">
      <h3> Mrs.Dr.Kamrrunissa AbdulHamid Shaikh </h3>
      <p>Assistant Professor</p>
      <p>Qualification: M.Com , M. Phil,Ph.D.</p>
      <p> 7 Years Experience</p>
      <p>Specialization : Business Administration 4 years </p>
    </div>

    <div class="staff-box">
      <img  style="height: 300px;" src="../../assets/b.com/ravindra.png" alt="Mr. Suresh Jadhav">
      <h3>Mr. Ravindra Dattu Mundhe </h3>
      <p> Assistant Professor</p>
      <p>Qualification: M.Com. SET,NET Ph.D. Pursuing</p>
      <p>6 Years Experience </p>
      <p>Specialization :Corporate Accounting and Financial Management</p>
    </div>

     <div class="staff-box">
      <img  style="height: 300px;" src="../../assets/b.com/anupreta.png" alt="Mr. Suresh Jadhav">
      <h3>Mrs.Anupreeta Prasad Bhor </h3>
      <p> Assistant Professor</p>
      <p>Qualification:M.Com. B.Ed. Ph.D. Pursuing</p>
      <p>Specialization : Advance Accounting and Taxation</p>
        <p>6 Years Experience</p>
      </div>
    </div>
  </div>


<!-- department description -->
     <div class="about-box">
    <h2>Department Description :</h2>
    <p>
    Department of Commerce was established in the year 2002. It is a significant
academic department in the college. The Department has offers UG, PG programmes . The
objective of these programmes are to cultivate business acumen among students and aims
to develop various skills, to make students capable to be an effective part of the
Commercial Organisation in various area. Our department offered some of the popular
electives courses like – Banking and Finance, Cost and Works Accounting, etc. UG and PG
Programmes are designed to impart business and management skills to aspiring students
for a better understanding of the corporate world and its business activities. It would help
students plan their business activity properly in various capacities. The department also
conducting Certificate Courses, Add-On Courses, Skill Based Courses to develop various
skills among the students. Department organized various student centric activities to
enhance their personality, employability skills and develop leadership qualities for the
students.

    </p>
  </div>

   <table class="college-programs">
    <tr>
        <th>Programme</th>
        <th>Year of Establishment</th>
    </tr>
    <tr>
        <td>Bachelor of Commerce (UG)</td>
        <td>June - 2002</td>
    </tr>
    <tr>
        <td>Master of Commerce (PG)</td>
        <td>June - 2022</td>
    </tr>
  </table>


  <div class="about-box facilities">
    <h2>Facilities :</h2>
    <p>
   <li>Excellent Classroom</li>
   <li>Learning Centre</li>
   <li>Seminar Halls </li>
   <li>Computer Labs</li>
   <li>Libraries</li>
    </p>
  </div>
  <!-- department description end-->

  <app-footer></app-footer>