 <br><br><br><br><br>
 
 <!-- Gallery -->
    <h2 class="h2">📸 College  <span style="color: rgb(72, 170, 235);">Gallery</span></h2>
  <section class="gallery" style="margin-top: -110px;">
<br><br><br><br><br><br><br><br><br><br>
  <div class="gallery-item">
    <img src="assets/cantin.png" alt="Students in classroom">
    <div class="overlay">Canteen</div>
  </div>

  <div class="gallery-item">
    <img src="assets/chemicallab.png" alt="Friends at campus">
    <div class="overlay">Chemistry Lab</div>
  </div>

  <div class="gallery-item">
    <img src="assets/comlab.png" alt="Graduation ceremony">
    <div class="overlay">Computer Lab</div>
  </div>

  <div class="gallery-item">
    <img src="assets/gym.png" alt="Library study time">
    <div class="overlay">Collage Gym</div>
  </div>

  <div class="gallery-item">
    <img src="assets/lab.png" alt="Cultural festival">
    <div class="overlay">Microbiology</div>
  </div><br><br>

  <div class="gallery-item">
    <img src="assets/playground.png" alt="Sports day">
    <div class="overlay">Playground</div>
  </div>

  <div class="gallery-item">
    <img src="assets/studylab.png" alt="College canteen">
    <div class="overlay">Study Lab</div>
  </div>

 
</section>