<!-- Header Navigation -->
<header>
  <span>
    <img src="assets/logo.png">
    <div class="logonm2">Mahatma Gandhi Sarvodaya Sangh</div>
    <h1 class="logonm">Padmashri Manibhai Desai Mahavidyalaya</h1>
  </span>

  <nav class="bar">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

    <!-- About Dropdown -->
    <div class="dropdown">
      <a class="dropbtn" style="pointer-events: none;">About ▾</a>
      <div class="dropdown-content">
        <a routerLink="/about" routerLinkActive="active">College History & Heritage</a>
        <a routerLink="/sarvod" routerLinkActive="active">Mahatma Gandhi Sarvodaya Sangh</a>
        <a routerLink="/login" routerLinkActive="active">Collage Login</a>
      </div>
    </div>

    <!-- Departments Dropdown -->
    <div class="dropdown">
      <a class="dropbtn" style="pointer-events: none;">Departments ▾</a>
      <div class="dropdown-content">
        <a routerLink="/ba" routerLinkActive="active">B.A</a>
        <a routerLink="/bcom" routerLinkActive="active">B.Com</a>
        <a routerLink="/bsc" routerLinkActive="active">B.Sc</a>
        <a routerLink="/compscience" routerLinkActive="active">Computer Science (B.Sc / BCA)</a>
        <a routerLink="/bba" routerLinkActive="active">BBA (CA)</a>
        <a routerLink="/ma" routerLinkActive="active">M.A</a>
        <a routerLink="/mcom" routerLinkActive="active">M.Com</a>
      </div>
    </div>

    <a routerLink="/staff" routerLinkActive="active">Examination</a>
    <a routerLink="/profile" routerLinkActive="active">Admission</a>

    <!-- IQAC Dropdown -->
    <div class="dropdown">
      <a class="dropbtn" style="pointer-events: none;">IQAC ▾</a>
      <div class="dropdown-content">
        <a  routerLinkActive="active">IQAC Committee</a>
        <a  routerLinkActive="active">IQAC</a>
        <a  routerLinkActive="active">NAAC</a>
        <a  routerLinkActive="active">IQAC Minutes & Action Taken Report</a>
        <a  routerLinkActive="active">AQAR</a>
        <a  routerLinkActive="active">SSR 2023-24</a>
        <a  routerLinkActive="active">NAAC Visit 11 & 12 March 2024</a>
      </div>
    </div>

    <!-- Students Corner -->
    <div class="dropdown">
      <a class="dropbtn" style="pointer-events: none;">Students Corner ▾</a>
      <div class="dropdown-content">
        <a routerLink="/stunotic" routerLinkActive="active">Notice</a>
        <a routerLink="/abouthostel" routerLinkActive="active">Result</a>
        <a routerLink="/activity1" routerLinkActive="active">Cultural And Youth Festival Activity Committee</a>
      </div>
    </div>
  </nav>
</header>
