<div class="committee-container" style="margin-top: 150px;">
  <header class="header">
    <h1>Cultural and Youth Festival Activity Committee</h1>
    <p class="tagline">Encouraging talent, creativity, and campus spirit</p>
  </header>

  <!-- card -->
 <div class="person-card">
  <img src="../../assets/activity1/shubhangi cultural department.jpg" alt="Person" class="profile-img">

  <h2 class="name">Asst. Prof. Shubhangi Ranawade Dhumal </h2>
  <p class="role"><strong>Convener</strong></p>

  <div class="info">
    <p style="text-align: center;">Cultural and Youth Festival Department</p>
    <!-- <p><strong>Email:</strong> john.doe@example.com</p>
    <p><strong>Phone:</strong> +91 9876543210</p>
    <p><strong>Location:</strong> Pune, India</p> -->
  </div>
</div><br><br>

  <!-- card end -->

  <!-- Introduction -->
  <section class="section">
    <h2>Introduction</h2>
    <p>
      The objective of department of Cultural Activities is to develop the all round personality of the students by providing them a platform to represent their inner skills through various cultural activities. The cultural department is unique and strong in the college. The college provides various equipments to the Cultural departments for performance of the students who has interested in cultural activities. We have separate multipurpose Hall for the performance of cultural activities. 
There is a drastic change in each and every field of the society. By taking into consideration these changes, the students are very much interested to participate in various cultural activities which shall be useful to them in near future. Thus the students are updating their knowledge in every field through cultural activities. In this way the co-curricular activities play a pivotal role for building up the personality of the students. These activities teach them to develop a sense of social and personal responsibility. It also strengthens the confidence of the students to face the challenges in their future life. 
The students can become academically strong as well as socially and culturally strong. This department shows them the new avenues for their future. The committee of cultural activity always takes efforts to develop the academic, cultural and social talents of the students through various activities.
The department of cultural activities organizes various events and activities for the students overall development.

    </p>
  </section>

  <!-- Objectives -->
  <section class="section">
    <h2 >Objectives</h2>
    <ul >
      <li>Main objective is to create interest among the students about cultural activities.</li>
      <li>To develop all round personality and social values among the students.</li>
      <li>Extracurricular activities increase opportunities for the social interaction for the students.</li>
      <li>Extracurricular activities provide more knowledge about different cultures.</li>
      <li>Extracurricular activities create the thought of co-operation very effectively among the students.</li>
    </ul>
  </section>

<!-- Cultural Activity Committee: -->
 <section class="section">
    <h2 >Cultural Activity Committee:</h2>
    <ol >
      <li>Prof.  -     President</li>
      <li>Prof. Shubhangi Ranawade - Convener</li>
      <li>Prof. Anuprita Bhor - Member</li>
      <li>Prof. Pratiksha Kodre - Member</li>
      <li>Prof. Deepali Chaudhari  - Member</li>
      <li>Prof. Rohit Baravkar - Member</li>
      <li>Prof. Harshal Bhosale  - Member</li>
        <li>Prof. Sarika Dhonge - Member</li>
      <li>Prof. Anuja Shinde - Member</li>
      <li>Prof. Zeba Tamboli  - Member</li>
      <li>Prof. Bandu Ugade - Member</li>
      <li>Prof. Gaurav Tilekar  - Member</li>
    </ol>
 </section>

  <!-- Cultural Facilities -->
  <section class="section">
    <h2 style="text-align: center;">Cultural Facilities</h2>
   <ul >
    <li>Folk Dance</li>
    <li>Singing</li>
    <li>Action</li>
    <li>Elocution</li>
    <li>Solo Dance</li>
    <li>One-Act-Play</li>
   </ul>
  </section>

  <!-- Gallery -->
  <section class="section gallery">
    <h2 style="text-align: center;">___Gallery___</h2>
    <div class="images">
      <img src="../../assets/activity1/img1.jpg" alt="">
      <img src="../../assets/activity1/img2.jpg" alt="">
      <img src="../../assets/activity1/img3.jpg" alt="t">
      <img src="../../assets/activity1/img4.jpg" alt="">
      <img src="../../assets/activity1/img5.jpg" alt="">
      <img src="../../assets/activity1/img6.jpg" alt="">
      <img src="../../assets/activity1/img7.jpg" alt="">
      <img src="../../assets/activity1/img8.jpg" alt="">
      <img src="../../assets/activity1/img9.jpg" alt="">    
      <img src="../../assets/activity1/img10.jpg" alt="">
    </div>
  </section>
</div>
<app-footer></app-footer>